<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/guild.css" >
    <link rel="stylesheet" href="/css/grid.css" >
    <title>Guild Menu</title>
</head>
<body>
    <div class="container row">
        <div class="col-2">
            <a href="/dashboard" class="go-back">Go Back</a>
        </div>
        <div id="channel-list" class="col-5">
            <a href="/dashboard/<%= guildId %>/channels/create" method="get" class="create-btn btn">Create Channel</a>
            <ul class="list-of-channels">
                <% channels.forEach((channel) => { if(channel.type === 0) {%>
                    <li>
                        <div class="channel row">
                            <p class="channel-name col-4"><%= channel.name %></p>
                            <a href="/dashboard/<%=guildId%>/channel/<%=channel.id%>/modify" class="modify-btn btn col-4">Modify</a>
                            <form method="post" action="/dashboard/<%= guildId %>/channels/<%= channel.id %>?_method=DELETE" class="col-4 form-delete">
                                <input type="hidden" name="_method" value="DELETE">
                                <button class="btn delete-btn" type="submit">Delete</button>
                            </form>
                        </div>
                    </li>
                <% }}) %>
            </ul>
        </div>
        <div id="roles-list" class="col-5">
            <a href="/dashboard/<%=guildId%>/roles/create" class="create-btn btn">Create Role</a>
            <ul class="list-of-channels">
                <% roles.forEach((role) => { %>
                    <li>
                        <div class="role row">
                        <p class="role-name col-4" ><%= role.name %></p>
                        <a href="/dashboard/<%= guildId %>/roles/<%=role.id%>/modify" class="modify-btn btn col-4">Modify</a>
                        <form method="post" action="/dashboard/<%= guildId %>/roles/<%= role.id %>?_method=DELETE" class="col-4 form-delete">
                            <input type="hidden" name="_method" value="DELETE">
                            <button class="btn delete-btn" type="submit">Delete</button>
                        </form>
                        </div>
                    </li>
                <% }) %>
            </ul>
        </div>
    </div>

</body>
</html>
