<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/modify-channel.css" >
    <title>Modify Channel</title>
</head>
<body>
    <div><a href="/dashboard/<%=guildId%>/guild-menu" class="go-back">Go Back</a></div>
    <div>
        <form action="" class="presentational-form">
            <label for="name">Name</label>
            <input type="text" id="channel-name" name="name" value="<%=channel.name%>" disabled>
            <label for="position">Position</label>
            <input type="text" id="channel-position" name="position" value="<%=channel.position%>" disabled>
            <label for="parent_id">Parent ID</label>
            <input type="text" id="channel-parent-id" name="parent_id" value="<%=channel.parent_id%>" disabled>
            <label for="topic">Topic</label>
            <input type="text" id="channel-topic" name="topic" value="<%=channel.topic%>" disabled>
            <label for="permission_overwrites">Permission Overwrites</label>
            <input type="text" id="channel-permission-overwrites" name="permission_overwrites" value="<%=channel.permission_overwrites%>" disabled>
            <label for="nsfw">NSFW</label>
            <input type="text" id="channel-nsfw" name="nsfw" value="<%=channel.nfsw%>" disabled>
            <label for="rate_limit_per_user">Rate Limit Per User</label>
            <input type="text" id="channel-rate-limit" name="rate_limit_per_user" value="<%=channel.rate_limit_per_user%>" disabled>
        </form>
    </div>
    <div>
        <form action="/dashboard/<%= guildId %>/channel/<%= channel.id %>?_method=PATCH" method="post" class="modification-form">
            <input type="hidden" name="_method" value="PATCH">
            <label for="name">Name</label>
            <input type="text" id="channel-name" name="name" value="<%=channel.name%>">
            <label for="position">Position</label>
            <input type="number" id="channel-position" name="position" value="<%=channel.position%>">
            <label for="parent_id">Parent ID</label>
            <input type="text" id="channel-parent-id" name="parent_id" value="<%=channel.parent_id%>" disabled>
            <label for="topic">Topic</label>
            <input type="text" id="channel-topic" name="topic" value="<%=channel.topic%>">
            <label for="permission_overwrites">Permission Overwrites</label>
            <input type="text" id="channel-permission-overwrites" name="permission_overwrites" value="<%=channel.permission_overwrites%>" disabled>
            <label for="nsfw">NSFW</label>
            <input type="text" id="channel-nsfw" name="nsfw" value="<%=channel.nfsw%>">
            <label for="rate_limit_per_user">Rate Limit Per User</label>
            <input type="number" id="channel-rate-limit" name="rate_limit_per_user" value="<%=channel.rate_limit_per_user%>">
            <button type="submit">Modify</button>
        </form>
    </div>
</body>
</html>